{%- comment -%}
If the product contains the special __gift tag, we prevent it to be completely accessible by redirecting to the home page
{%- endcomment -%}

{%- if product.tags contains '__gift' -%}
  <script>
    window.location.href = '/';
  </script>
{%- else -%}
  <!-- Start of Judge.me code --><div style='clear:both'></div>
  {% section 'product-template' %}
  {% comment %}{% section 'ali-reviews-review-box' %}{% endcomment %}
  {% section 'product-recommendations' %}
  {% section 'static-promotion-list' %}
  {% section 'static-recently-viewed-products' %}

  <script>
    window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)};
    ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});
  </script>
{%- endif -%}{% include 'salesbox-common' %}
<div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-product-title='{{ product.title | escape }}' data-id='{{ product.id }}' data-auto-install='false'>{{ product.metafields.judgeme.widget }}</div><!-- End of Judge.me code -->
{% comment %}{% render 'wise-product-reviews', product_id: product.id, default_type: 'product_reviews' %}{% endcomment %}
